$c-darkgrey: #333;
$c-lightgrey: #e5e5e5;
$c-available-time: #eee;
$c-available-time-dark-grey: #3f4148;
$c-white: #fff;
$c-lightest: #f6f7ff;
$c-caption-text: #aaadc0;
$c-dark-caption-text: #666773;
$c-lightgreen: #56d01c;
$c-lightred: #dd4314;
$c-lightblue: #bbeaff;
$transition-duration: 0.3s;
$bubbling-menu-height: 8%;
